body::-webkit-scrollbar {
    width: var(--scrollbar-width)
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--scrollbar-trumb-background-color)
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-trumb-background-color-hover)
}