* {
    box-sizing: border-box
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #343434;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

div.CLUSTER {
    width: 100%;
    height: 100%;
    /*border: 1px solid gray;*/
    display: flex;
    border: 1px solid #fff;
    padding: 5px 0 0 5px
}

div.BOX {
    background-color: #2C2C2C;
    border: 1px solid transparent;
    cursor: pointer;

    padding: 5px 10px 5px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #FFF;
    border: 1px solid #0c70de;
    border-radius: 3px;
    line-height: normal;
}

div.BOX:hover {
    border: 1px solid #FFF;
}

div.BOX > div {
    display: inline-flex;
    height: 100%;
    vertical-align: middle;
    align-items: center;
}
