:root{
    --size: 120px;
}


* {
    box-sizing: border-box;
}

object{
    width: 100%;
    height: 100%;
}


body {
    background-color: #343434;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

div.CLUSTER {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #fff;
    padding: 5px 0 0 5px;
}

div.BOX {
/*    background-color: #FFF;*/
    border: 1px solid transparent;
    cursor: pointer;

    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #FFF;
    border: 1px solid #0c70de;
    border-radius: 3px;
    line-height: normal;
}

div.BOX:hover {
    border: 1px solid #FFF;
}

div.ICON{
    width: var(--size);
    height: var(--size);
    margin: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
/*    background-color: blue;*/
}       
div.NAME{
    width: calc(var(--size)+20);
    padding: 6px 10px;
    font-size: 1.2em;
    height: calc(2em);
    border-top: 1px solid #0c70de;
    overflow: hidden;
}