*,
*::before,
*::after
{box-sizing: border-box}

body
{
    margin: 0;
    padding: 0;
}

.card
{
    max-width: 250px;
    max-height: 350px;
    border: 1px solid red;
}

.icon img{
    width: 100%
}